/* your code */
table{
	height: 120px;
	width: 100%;
	
	border-collapse: collapse;
	
	border-radius: 10px;
	table-layout: fixed;
	border-radius: 8px; /* Rounded corners for the table */
	overflow: hidden;
	border: 1px solid black;
	
}
th, td{
	text-align: center;
	font-size: 10px;
	padding-left: 10px;
}
th:first-child, td:first-child{
	text-align:left;
}
thead tr{
	background-color: #1B5592;
	color:white;
}
tbody tr:nth-child(even){
	background-color: #E5E3E3;
}